fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
redis==5.0.8
lunar_python==2.0.8
onesignal-py==0.2.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
fastapi-i18n==0.1.2
geopy==2.4.1
requests==2.32.3
stripe==10.7.0